html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.background {
  /* background: linear-gradient(45deg, #DACCE6, #F4EFE1); */
  background: linear-gradient(45deg, #450084, #CBB677);

  background-size: 400%;
  animation: gradient 10s ease-in-out infinite;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


@keyframes gradient {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

div.centerpiece {
  z-index: 7;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  width: 70%;
  padding: 2rem;
  border: 2px solid;
  background-color: #e7dde3;
  border-radius: 10px;

  display: flex;
}


div.centerpiece>span {
  h1 {
    font-size: xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h2 {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    width: 80%;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
  }
}

div.centerpiece>img {
  border: 2px solid;
  border-radius: 10px;
  margin-left: 4rem;
  width: 40%;
}


span.JMU {
  color: #CBB677;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
    #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}

.section {
  display: flex;
  justify-content: center;

  padding-top: 5rem;

  font-size: xxx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 20;
  position: relative;
}

div.About {
  z-index: 7;
  position: relative;
  margin: auto;
  width: 60%;
  padding: 2rem;
  border: 2px solid;
  background-color: #e7dde3;
  border-radius: 10px;

  p {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
  }
}

div.Link {
  z-index: 7;
  position: relative;
  margin: auto;
  width: 50%;
  padding: 2rem;
  border: 2px solid;
  background-color: #e7dde3;
  border-radius: 10px;
  text-align: center;

  ul {
    padding-inline-start: 0px;
    list-style-type: none;
    align-items: center;
  }

  img {
    padding: 2rem;
    width: 15rem;
  }

  img:hover {
    filter: invert();
    background: linear-gradient(45deg, #BAFF7C, #344989);
  }
}


/* Javascript assets */

div.Projects,
div.Papers,
div.Certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.Card {
  display: flex;
  flex-direction: column;
  z-index: 3;

  width: 40%;
  margin: 3rem;
  padding: 2rem;
  padding-bottom: 8rem;

  border: 2px solid;
  background-color: #e7dde3;
  border-radius: 10px;

  span {
    display: block;
    width: 100%;
    height: 16rem;
  }

  img {
    position: static;
    width: 100%;
    height: 25rem;
    border: 1px solid;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #CBB677;
    text-decoration: underline;
  }

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
  }

  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  div.tags {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;

    li {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      font-size: larger;
      padding: 0.5rem;
      border: 2px solid black;
      border-radius: 8px;
      background-color: #DACCE6;
    }
  }
}

/* Change Img Centerpiece depending on viewport */
@media screen and (max-width: 1400px) {
  div.centerpiece>img {
    margin: none;
    width: 35%;
  }
}

@media screen and (max-width: 1300px) and (min-width:1080px) {
  div.centerpiece {
    flex-direction: column-reverse;
    width: 50%;
    margin: auto;
    align-self: center;
    justify-content: center;

    img {
      width: 70%;
    }

    span {
      text-align: center;
    }

    span>p {
      display: inline;
    }
  }
}


/* If viewport is small, the 'cards' change length */
@media screen and (max-width: 1500px) {
  div.Card {
    padding-bottom: 12rem;
  }
}

@media screen and (max-width: 1350px) {
  div.Card>span {
    height: 22rem;
  }
}

@media screen and (max-width: 1080px) {
  div.Card {
    width: 50%;
    padding-bottom: 10%;

    span {
      height: auto;
    }
  }

  div.centerpiece>img {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 500px) {
  div.Card {
    span {
      overflow-y: scroll;
    }

    padding-bottom: 5rem;
  }
}