body {
    margin-left: 5rem;
    margin-right: 6rem;
    width: 80%;
}

main {
    position: relative;
    top: -3rem;
}

aside {
    position: relative;
    top: -4rem;
    width: 30%;
    margin-left: 5rem;
    float: right;
}

h1 {
    font-size: 5rem;
}

h2 {
    color: cornflowerblue;
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

p {
    font-size: larger;
    position: relative;
    top: -1rem;
    line-height: 1.5;
}

li {
    font-size: large;
}

main>p {
    padding-right: 40%;
}

sub {
    font-size: medium;
    position: relative;
    top: -1.5rem;
}

sub.about {
    top: -4rem;
}

sub.GPA {
    padding-left: 9rem;
}

.github {
    width: 2rem;
}

h3>span.unbold {
    font-weight: normal;
}

@media screen and (max-width: 950px){
    sub.GPA {
        padding-left: 0rem;
        top: 0.3rem;
        left: -10.3rem;
    }

    aside {
        padding-top: 2.5rem;
        float: none;
        margin-left: 0rem;
        width: 80%;
    }
}